config-vpn.clsn.fr {
	reverse_proxy wg-easy:80
	tls {
		dns infomaniak {env.INFOMANIAK_API_TOKEN}
	}
	# tls internal
}

photo.clsn.fr {
	reverse_proxy immich-server:2283
	tls {
		dns infomaniak {env.INFOMANIAK_API_TOKEN}
	}
	# tls internal
}

note.clsn.fr {
	reverse_proxy joplin:22300
	tls {
		dns infomaniak {env.INFOMANIAK_API_TOKEN}
	}
	# tls internal
}

monitor.clsn.fr {
	reverse_proxy uptime-kuma:3001
	tls {
		dns infomaniak {env.INFOMANIAK_API_TOKEN}
	}
}

flash.clsn.fr {
	reverse_proxy flash-backend:3030
	tls {
		dns infomaniak {env.INFOMANIAK_API_TOKEN}
	}
}

# pihole.clsn.fr {
# 	reverse_proxy http://192.168.1.175:5353
# 	# tls {
# 	# 	dns infomaniak {env.INFOMANIAK_API_TOKEN}
# 	# }
# 	tls internal
# }
