photo.clsn.fr {
	reverse_proxy immich-server:2283
	tls {
		dns infomaniak {env.INFOMANIAK_API_TOKEN}
	}
	# tls internal
}

note.clsn.fr {
	reverse_proxy joplin:22300
	tls {
		dns infomaniak {env.INFOMANIAK_API_TOKEN}
	}
	# tls internal
}

monitor.clsn.fr {
	reverse_proxy uptime-kuma:3001
	tls {
		dns infomaniak {env.INFOMANIAK_API_TOKEN}
	}
	# tls internal
}

flash.clsn.fr {
	reverse_proxy flash-backend:3030
	tls {
		dns infomaniak {env.INFOMANIAK_API_TOKEN}
	}
	# tls internal
}

headscale.clsn.fr {
	reverse_proxy headscale:8080
	tls {
		dns infomaniak {env.INFOMANIAK_API_TOKEN}
	}
}